<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://npmcdn.com/vue/dist/vue.js" xmlns:v-model="http://www.w3.org/1999/xhtml"></script>

</head>
<body>

<div id="app">
  <ul>
    <!--i - index-->
    <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
    <!--добавляем ключ key чтобы управлять списком независимо от данных. Каждый список становится уникальным элементом-->
    <!--лучше всегда добавлять ключ для исключения багов-->
    <template v-for="(ingredient, index) in ingredients" :key="ingredient">
      <h3>{{ ingredient }}</h3>
      <p>{{ index }}</p>
    </template>
  </ul>

  <button @click="ingredients.push('spices')">Add new</button>

  <hr>

  <ul>
    <li v-for="person in persons">
      <div v-for="(value, key, index) in person">{{`${key}: ${value} (${index})`}}</div>
    </li>
  </ul>

  <hr>

  <span v-for="n in 10">{{ n }}</span>

</div>


<script>
  new Vue({
    el: "#app",
    data: {
      ingredients: ['meat', 'fruit', 'cookies'],
      persons: [
        {name: 'Max', age: 27, color: 'red'},
        {name: 'Anna', age: 'unknown', color: 'blue'}
      ]
    }

  })
</script>
</body>
</html>



