<!DOCTYPE html>
<html lang="en">
<head>
  <title>Monster Slayer</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
  <section class="row">
    <div class="small-6 columns">
      <h1 class="text-center">YOU</h1>
      <div class="healthbar">

        <!--binding dynamic health bar for the player-->
        <div class="healthbar text-center" :style="{width: playerHealth + '%'}"
             style="background-color: green; margin: 0; color: white;">
          {{ playerHealth }}
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <h1 class="text-center">MONSTER</h1>
      <div class="healthbar">

        <!--binding dynamic health bar for the monster-->
        <div class="healthbar text-center" :style="{width: monsterHealth + '%'}"
             style="background-color: green; margin: 0; color: white;">
          {{ monsterHealth }}
        </div>
      </div>
    </div>
  </section>

  <!--if game is started we hide this section-->
  <section v-if="!isStarted" class="row controls">
    <div class="small-12 columns">
      <button id="start-game" @click="init(true)">START NEW GAME</button>
    </div>
  </section>

  <!--if game is started we show this section-->
  <section v-else class="row controls">
    <div class="small-12 columns">
      <button id="attack" @click="attack('simple')" :class="!isPlayerTurn ? 'disabled' : ''">ATTACK</button>
      <button id="special-attack" @click="attack('special')" :class="!isPlayerTurn ? 'disabled' : ''">SPECIAL ATTACK</button>
      <button id="heal" @click="heal">HEAL</button>
      <button id="give-up" @click="giveUp">GIVE UP</button>
    </div>
  </section>
  <section v-if='isStarted' class="row log">
    <div class="small-12 columns">
      <ul>

        <!--check turn. set needed style-->
        <li v-for="message in messages" :class="message.isPlayerTurn ? 'player-turn' : 'monster-turn'">
          {{message.title}}
        </li>
      </ul>
    </div>
  </section>
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      isStarted: false,

      /*if it is the monster turn - isPlayerTurn = false*/
      isPlayerTurn: true,

      /*you can add message here only using addMessage()*/
      messages: [],
      playerHealth: 100,
      monsterHealth: 100

    },
    computed: {
      //health
    },
    watch: {

      isPlayerTurn: function() {

        //to prevent double execution
        if (this.isPlayerTurn) return;
        if (this.monsterHealth <= 0) return;

        /*wait until monster will finish its attack*/
        setTimeout(() => {
          //monster attack logic
          const damage = Math.round(Math.random() * 30) + 1;
          this.playerHealth -= damage;

          this.addMessage({ title: "Monster hits player for " + damage, isPlayerTurn: this.isPlayerTurn });
          this.isPlayerTurn = true;
          //End game pop up message
          if (this.playerHealth <= 0) {
            alert("You have lost the game :((");
            if (confirm("Do you want to start new game?"))
              this.init();

            //hide control pane
            else this.isStarted = false;
          }
        }, 500);


      }
    },
    methods: {
      //simple or special expected
      attack: function(attackType = "simple") {
        //if it is not the player turn we do nothing
        if (!this.isPlayerTurn) return;

        //player attack logic
        let multiplier = 10;
        if (attackType === "special")
          multiplier = 15;

        //damage calculating
        const damage = Math.round(Math.random() * multiplier) + 1;
        this.monsterHealth -= damage;

        this.addMessage({ title: "Player hits monster for " + damage, isPlayerTurn: this.isPlayerTurn });
        this.isPlayerTurn = false;
        //random attack calc
        //End game pop up message
        if (this.monsterHealth <= 0) {

          alert("You WIN ))");
          if (confirm("Do you want to start new game?"))
            this.init();
          //hide control pane
          else this.isStarted = false;

        }
      },

      heal: function() {
        if (this.playerHealth === 100)
          return;

        //healing
        const addHeal = Math.round(Math.random() * 12);
        this.playerHealth += addHeal;
        this.addMessage({ title: "Player heals himself for " + addHeal, isPlayerTurn: this.isPlayerTurn });
        this.isPlayerTurn = false;
      },

      giveUp: function() {
        //alert with yes/no. if yes - initial state
        if (!confirm("Are you shore you want to give up?"))
          return;

        alert("You have lost the game :((");

        this.init();
      },

      addMessage: function(message) {
        this.messages.unshift(message);
      },

      init: function(isStarted = false) {
        this.isStarted = isStarted;
        this.playerHealth = 100;
        this.monsterHealth = 100;
        this.isPlayerTurn = true;
        this.messages = [];
      }

    }
  });
</script>

</body>
</html>
